<h3>Уважаемый(ая) <%= @order.name %></h3>
<p>
	Администрация магазина Pragmatic Store благодарит Вас за недавний заказ.
</p>
<p>
	Вы заказали следующий товар:
</p>
<table>
	<tr><%= render @order.line_items  %></tr>
		<tr class="total_line">
			<td colspan="2">Total</td>
			<td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
		</tr>
</table>
